{% extends 'base.html' %}

{% block content %}
<style>
    .btn-primary {
        background-color: #000000;
        color: #ffffff;
        border-color: #000000;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="login-box">
                <h1 class="text-center py-4">إعادة تعيين كلمة المرور</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group d-flex justify-content-end align-items-center">
                        {{ form.email }}
                        <label class="form-control-label mr-2" for="{{ form.email.id_for_label }}">البريد
                            الإلكتروني</label>

                    </div>
                    <button type="submit" class='btn btn-primary btn-block'>إرسال</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}