asgiref
asttokens
beautifulsoup4
certifi
colorama
comm
coverage
crispy-bootstrap4
databases
debugpy
decorator
distlib
dj-database-url
Django
django-bootstrap4
django-braces
django-crispy-forms
django-extensions
django-model-utils
django-multiupload
django-rating
django-star-ratings
docopt
executing
filelock
greenlet
gunicorn
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
num2words
packaging
parso
Pillow
pipenv
platformdirs
prompt-toolkit
psutil
psycopg2-binary
pure-eval
Pygments
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pyzmq
six
soupsieve
SQLAlchemy
sqlparse
stack-data
swapper
tornado
traitlets
typing_extensions
tzdata
Unidecode
virtualenv
virtualenv-clone
wcwidth
whitenoise
