{% extends 'base.html' %}
{% block title %}إضافة مشروع{% endblock %}

{% block content %}
<style>
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        max-width: 800px; 
    }

    .form-container {
        padding: 20px;
    }

    .form-label {
        font-weight: bold;
    }

    .smaller-heading {
        font-size: 24px;
        margin-bottom: 10px;
    }
</style>

<div class="container mt-5">
    <div class="card-container">
        <div class="card">
            <div class="form-container text-end">
                <h6 class="smaller-heading text-center">إضافة مشروع</h6>
                <form method="post" action="{% url 'add_project' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="project_name" class="form-label">اسم المشروع</label>
                        <input type="text" class="form-control" id="project_name" name="project_name">
                    </div>
                    <div class="mb-3">
                        <label for="products_used" class="form-label">المنتجات المستخدمة</label>
                        <input type="text" class="form-control" id="products_used" name="products_used">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">الموقع</label>
                        <input type="text" class="form-control" id="location" name="location">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">الوصف</label>
                        <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">تحميل صورة جديدة</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <button type="submit" class="btn btn-primary">تحميل الصورة</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
