{% extends 'base.html' %}
{% load static %}
{% block title %}كلاسيكي{% endblock %}

{% block content %}
<style>
    body {
        font-family: 'Inter', sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .container {
        text-align: center;
    }
    .classic-title {
        color: #495057;
        text-align: center;
        margin: 40px 0;
    }
    .image-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 40px;
    }
    .image-row img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }
    .classic-text {
        color: #495057;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
    .return-button {
        background: #1CAED0;
        color: #fff;
        font-size: 20px;
        padding: 10px 20px;
        text-align: center;
        border: none;
        border-radius: 5px;
        margin-top: 40px;
        cursor: pointer;
    }
    .return-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<h1 class="classic-title"> الكلاسيكي</h1>

<div class="container">
    <div class="image-row">
        <img src="{% static 'images/classic.jpeg' %}" alt="Classic Style">
        <img src="{% static 'images/classic1.jpeg' %}" alt="Classic Style 1">
        <img src="{% static 'images/classic2.jpeg' %}" alt="Classic Style 2">
        <img src="{% static 'images/classic3.jpeg' %}" alt="Classic Style 3">
    </div>

    <section class="page-section">
        <div class="container text-center">
            <img src="https://cdn.porch.com/bootstrap/0web/home-page/paths/path-3.svg" alt="Between Sections" class="img-fluid">
        </div>
    </section>
    
    <div class="classic-text">
        <h4>الكلاسيكي هو نمط من الفن والتصميم يعكس الأسلوب القديم أو الأثري، ويشمل عادةً العناصر والزخارف التقليدية التي تمتاز بالتفاصيل الفخمة والتصميم الرفيع. يعود أصل الكلاسيكي إلى العصور القديمة مثل الروماني واليوناني، وقد تأثر بشكل كبير بالأسلوب الرومانسي والباروك والروكوكو. أما بالنسبة لألوان الكلاسيكي، فغالباً ما تكون محايدة وراقية، مع تركيز على درجات اللون الغنية والترابية، مثل الذهبي والبرونزي والأبيض والكريمي والأحمر والبني الغامق والأزرق الداكن والأخضر الغني والأسود.</h4>
        
        <section class="page-section">
            <div class="container text-center">
                <img src="https://cdn.porch.com/bootstrap/0web/home-page/paths/path-3.svg" alt="Between Sections" class="img-fluid">
            </div>
        </section>
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
            <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
        </svg> 
        <h4>اين اجدها؟</h4>
        <h5>مفروشات الرقيب</h5>
        <h5>مفروشات الكلاسيك</h5>
        <h5>اشلي</h5>
        <h5>بوتري بارن</h5>
    </div>
    
    <div class="return-link">
        <a href="{% url 'reso1' %}">
            <button class="return-button">عودة</button>
        </a>
    </div>
</div>

{% endblock %}
