{% extends 'base.html' %}
{% load static %}
{% block title %}Homeowner Profile{% endblock %}

{% block content %}
<style>
    a {
        color: black;
        text-decoration: none;
    }

    .profile-section-link {
        color: #1CAED0;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .profile-section-link:hover {
        color: grey;
    }

    .section-content {
        display: none;
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        direction: rtl;
        text-align: right; 
        animation: slide-in 0.5s forwards;
    }

    .section-content h3 {
        color: #1CAED0;
    }

    .photo-container {
        margin-top: 20px;
        text-align: center;
    }

    .photo-box {
        width: 200px;
        height: 200px;
        border: 2px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto;
    }

    .photo-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .edit-photo-btn {
        margin-top: 10px;
        padding: 5px 10px;
    }
    .btn {
    background-color: #1CAED0;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

    .btn:hover {
    background-color: #5ccfe7;
    color: white;
}
    .btn-primary, .btn-secondary, .btn-success, .btn-danger {
    background-color: #1CAED0;
}

   .btn-primary:hover, .btn-secondary:hover, .btn-success:hover, .btn-danger:hover {
    background-color: #5ccfe7;
}

   .btn-edit-photo {
    margin-top: 10px;
    padding: 5px 10px;
}
@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
</style>
<!-- profile -->
<div class="container mt-5 text-end">
    <div class="row mt-3 text-end">
        <h1 class="display-4">
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">تعديل الملف الشخصي</a>
            {{ homeowner.user.username }}
        </h1>
    </div>
    <hr>
    <!-- oreders and quotes -->
    <div class="row mt-3 text-end">
        <div class="col-md-3 text-end">
            <a href="#" class="profile-section-link" data-section="ordersContent" data-toggle="tooltip"
                data-placement="top" title="معلومات الطلبات">الطلبات</a>
            <div id="ordersContent" class="section-content mt-3">
                {% if homeowner.orders.exists %}
                    <div class="card order-card">
                        <div class="card-body">
                            {% for order in orders %}
                                <p class="order-info">طلب #{{ order.id }} - تاريخ: {{ order.created_at|date:"Y-m-d H:i:s" }}</p>
                                <button class="btn btn-secondary view-order-details" data-order-id="{{ order.id }}">تفاصيل الطلب</button>
                                <div class="order-details" id="order-details-{{ order.id }}" style="display: none;">
                                    <p>الحالة: {{ order.status }}</p>
                                    <p>المحترف: 
                                        <a href="{% url 'professional_profile' order.professional.id %}">
                                            {{ order.professional.user.username }}
                                        </a>
                                    </p></div>
                                {% if order.status == 'مقبول' %}
                                    <button class="btn btn-primary view-quote-details" data-order-id="{{ order.id }}">تفاصيل العرض</button>
                                    <div class="quote-details" id="quote-details-{{ order.id }}" style="margin-left: 20px; display: none;"></div>
                                {% endif %}
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                <p class="empty-message">لا يوجد طلبات حتى الآن.</p>
                {% endif %}
            </div>
        </div>


        <div class="col-md-3 text-end">
            <a href="#" class="profile-section-link" data-section="messagesContent" data-toggle="tooltip"
                data-placement="top" title="معلومات الرسائل">الرسائل</a>
            <div id="messagesContent" class="section-content mt-3">
                <h4>الرسائل</h4>
                {% if sent_messages %}
                {% regroup sent_messages by recipient as messages_by_recipient %}
                {% for recipient_group in messages_by_recipient %}
                <div class="recipient-container">
                    <div class="message-box">
                        {% with recipient_group.list|last as last_message %}
                        {% if last_message.sender == "Professional" %}
                        <div class="message-content">
                            <div class="message-sender">{{ last_message.sender }}</div>
                            <div class="message-date">{{ last_message.sent_date }}</div>
                            <div class="message-text">{{ last_message.content }}</div>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
                <a href="{% url 'DM' %}">عرض جميع الرسائل</a>
                {% else %}
                <p>لا يوجد رسائل</p>
                {% endif %}
            </div>
        </div>
        <!-- whish-list -->
        <div class="col-md-3 text-end">
            <a href="#" class="profile-section-link" data-section="wishlistContent" data-toggle="tooltip"
                data-placement="top" title="معلومات المفضلة">المفضلة</a>
            <div id="wishlistContent" class="section-content mt-3">
                {% if homeowner.wishlist_set.all %}
                {% if homeowner.wishlist_set.first.previous_work.images.all %}
                <div class="card">
                    <a href="{% url 'wishlist_photos' %}">
                        <img src="{{ homeowner.wishlist_set.first.previous_work.images.first.image.url }}"
                            class="card-img-top" alt="Saved Photo">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'wishlist_photos' %}"></a>
                        </h5>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <p> يمكنك اضافة مشاريع للمفضلة من صفحة الإلهام</p>
                {% endif %}
            </div>
        </div>
        <!-- profile image -->
        <div class="col mt-3 photo-box text-end">
            <button class="btn btn-secondary edit-photo-btn" data-toggle="modal" data-target="#editPhotoModal">تعديل
                الصورة</button>
            {% if homeowner.photo %}
            <img src="{{ homeowner.photo.url }}" alt="User Photo" class="img-fluid rounded-circle">
            {% else %}
                <!-- Default image -->
                <img src="{% static 'images/default_profile.png' %}" alt="Default Photo" class="img-fluid rounded-circle">
            {% endif %}
        </div>
    </div>
</div>
<!-- Edit Photo  -->
<div class="modal fade" id="editPhotoModal" tabindex="-1" role="dialog" aria-labelledby="editPhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'edit_photo' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="photo">تحميل صورة جديدة:</label>
                    <input type="file" name="photo" id="photo">
                    <button type="submit" class="btn btn-primary">حفظ التغييرات</button>
                </form>
                    <!-- Update the image in the icon nav -->
                    <script>
                        document.getElementById('homeownerPhotoNavbar').src = "{{ homeowner.photo.url }}";
                    </script>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        function toggleSection(sectionId) {
            $('.section-content').hide();
            $('#' + sectionId).show();
        }

        $('.profile-section-link').click(function (e) {
            e.preventDefault();
            var sectionId = $(this).data('section');
            toggleSection(sectionId);
        });
        $(document).ready(function() {
            $('.view-order-details').on('click', function() {
                var orderId = $(this).data('order-id');
                var detailsDiv = $('#order-details-' + orderId);
                detailsDiv.toggle();  
            });});
    
        $('.view-quote-details').on('click', function() {
            var detailsDivId = 'quote-details-' + $(this).data('order-id');
            var detailsDiv = $('#' + detailsDivId);
            if (detailsDiv.is(':hidden')) {
                $.ajax({
                    url: '/get_quote_details/' + $(this).data('order-id') + '/',
                    method: 'GET',
                    success: function (data) {
                        var content = '';
                        console.log(data);  // Debugging: Log the data
                        data.forEach(function (quote) {
                            content += '<div><p>رقم العرض: ' + quote.id + '</p><p>الشروط: ' + quote.terms + '</p><p>التكلفة: ' + quote.cost + '</p><p>الحالة: ' + (quote.status || 'No Status') + '</p>';
                            if (quote.status === 'في الانتظار') {
                                content += '<button class="btn btn-success accept-quote" data-quote-id="' + quote.id + '">قبول</button>';
                                content += '<button class="btn btn-danger decline-quote" data-quote-id="' + quote.id + '">رفض</button>';
                            }
                            content += '</div>';
                        });
                        detailsDiv.html(content);
                        detailsDiv.show();
                    },
                    error: function (xhr) {
                        console.log('Error fetching quote details: ' + xhr.statusText);
                    }
                });
            } else {
                detailsDiv.hide();
            }
        });

        $(document).on('click', '.accept-quote, .decline-quote', function () {
            var quoteId = $(this).data('quote-id');
            var action = $(this).hasClass('accept-quote') ? 'accept_quote' : 'decline_quote';
            var statusText = action === 'accept_quote' ? 'العرض مقبول' : 'العرض مرفوض';
        
            //  AJAX to update the quote status
            $.ajax({
                url: '/' + action + '/',
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    quote_id: quoteId
                },
                success: function() {
                    var parentDiv = $('button[data-quote-id="' + quoteId + '"]').closest('div');
                    parentDiv.find('p:last').text('الحالة: ' + statusText);
                    parentDiv.find('.accept-quote, .decline-quote').remove(); 
                },
                error: function (xhr) {
                    alert('Error processing request: ' + xhr.responseText);
                }
            });
        });
        
    });
</script>



{% endblock %}