{% extends 'base.html' %}
{% load static %}

{% block title %}الرئيسية{% endblock %}

{% block content %}
<style>
  body {
    font-family: system-ui;
    font-weight: 400;
    font-style: bold;
  }

  .section-heading {
    font-size: 2rem; 
    color: #495057;
    font-weight: bold;
  }
  h4.my-3, h4.style-name {
    font-size:  1.25rem; 
    color: #495057;
    font-weight: bold;
  }
  .text-muted{
    font-size:  1.25rem; 
    color: #495057;
    font-weight: bold;}
 
    .card {
      border: 1px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
    }
  
    .category-image {
      max-width: 100%;
      max-height: 100%;
      height: 150px; 
    object-fit: cover;
      display: block;
      margin: 0 auto;
    }
  
    .card-body {
      padding: 20px;
      text-align: center;
    }
    .card-body a {
      color: #495057;
      text-decoration: none;
    }
    
    .card-body a:hover {
      color: #1CAED0;
    }
  
    .card-title a {
      text-decoration: none;
      color: #495057; 
      font-size:  1.25rem;
      display: block;
      margin-bottom: 10px;
    }
  
    .card-title a:hover {
      color: #1CAED0; 
      text-decoration: none; 
    }
    
    .more-link {
      text-decoration: underline;
      color: #495057;
      font-size: 0.9rem;
    }
  
    .more-link:hover {
      color: #1CAED0;
    }
    .question{
      font-size:  1.25rem; 
      color: #495057;
      font-weight: bold;
    }
    .answer{
      font-size:  1rem; 
      color: #fff;
    }
    #contact {
      margin-bottom: 0; 
    }
    
    #contact .container-fluid {
      padding-bottom: 0; 
    }

      #contactForm .row {
        direction: rtl; 
      }
    
      #contactForm .form-group {
        text-align: left;
      }
    
      #submitButton {
        background-color: #fff; 
        color: #495057; 
        transition: color 0.3s ease, background-color 0.3s ease; 
      }
    
      #submitButton:hover {
        background-color: #1CAED0; 
        color: #fff; //
      }
      p.text-muted, div.answer {
    font-size: 1rem; 
  }
</style>
<header class="masthead">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="masthead-subheading  text-end">اهلاً بك في لهج</div>
        <div class="masthead-heading ">نسعى لبناء جسر إلكتروني يربط الأفراد بالخبراء لتحقيق تجربة مثيرة ومميزة من خلال بيئة مبتكرة تجمع بين أصحاب المنازل والمحترفين في مجال ترميم وتصميم المنازل </div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">ماذا نقدم</a>
      </div>
      <div class="col-lg-6 order-lg-last">
        <img src="{% static 'images/headerLahj.png' %}" alt="Header Image" class="img-fluid">
      </div>
    </div>
  </div>
</header>
<body>   

<section class="page-section">
  <div class="container text-center">
    <img src="https://cdn.porch.com/bootstrap/0web/home-page/paths/path-3.svg" alt=" Between Sections" class="img-fluid">
  </div>
</section>

     <!-- خدماتنا -->
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">خدماتنا</h2>
    </div>
    <div class="row text-center">
      <!--  1 -->
      <div class="col-md-6 mb-4">
        <div class="service-box">
          <h4 class="my-3">تصفح المصادر</h4>
          <p class="text-muted">اسكتشف مختلف أنماط التصميم الداخلي والترميم. تصفح مجموعة واسعة من الأفكار والمشاريع التي قام بها محترفون موثوقون</p>
          <a href="{% url 'resource' %}" class="btn btn-primary">للمزيد</a>
        </div>
      </div>
      <!--  2 -->
      <div class="col-md-6 mb-4">
        <div class="service-box">
          <h4 class="my-3">اطلب خدمة من محترف</h4>
          <p class="text-muted">ابحث عن محترفين في مجالات متنوعة ومشاهدة أعمالهم السابقة. عندما تجد محترفاً يلبي احتياجك، اطلب خدمته من خلال إرسال رسالة </p>
          <a href="{% url 'findPro' %}" class="btn btn-primary">للمزيد</a>
        </div>
      </div>
      <!--  3 -->
      <div class="col-md-6 mb-4">
        <div class="service-box">
          <h4 class="my-3">احصل على الإلهام</h4>
          <p class="text-muted">اطلع على معرض الصور والمشاريع التي قام بها المحترفين</p>
          <a href="{% url 'inspiration' %}" class="btn btn-primary">للمزيد</a>
        </div>
      </div>
      <!--  4 -->
      <div class="col-md-6 mb-4">
        <div class="service-box">
          <h4 class="my-3">استشارات ونصائح</h4>
          <p class="text-muted">اتطلع على مقالات ونصائح ذات صلة بمجال التصميم والترميم</p>
          <a href="{% url 'tips' %}" class="btn btn-primary">للمزيد</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- مايميزنا -->
<section id="features" class="page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">مايميزنا</h2>
    </div>
    <div class="row text-center">
      <!--  1 -->
      <div class="col-md-4">
        <div class="feature">
          <div class="triangle"></div>
          <img src="{% static 'images\feature3.png' %}" alt="Feature Image 1" class="feature-img">
          <p class="text-muted">خدمات متنوعة </p>
        </div>
      </div> 
      <!--  2 -->
      <div class="col-md-4">
        <div class="feature">
          <div class="triangle"></div>
          <img  src="{% static 'images\feature2.png' %}"  alt="Feature Image 2" class="feature-img">
          <p class="text-muted">المصادر</p>
        </div>
      </div>
      <!--  3 -->
      <div class="col-md-4">
        <div class="feature">
          <div class="triangle"></div>
          <img src="{% static 'images\feature1.png' %}" alt="Feature Image 3" class="feature-img">
          <p class="text-muted">محترفين ذو كفاءة</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- تصفح أشهر الأنماط -->
<section id="browse-styles" class="page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-end">
          تصفح أشهر الأنماط
        <a href="{% url 'resource' %}" class="more-link">
            للمزيد 
        </a>
      </h2>
    </div>
  </div>
  <div class="row">
<div class="col-lg-3 text-end">
  <div class="card-body">
      <div class="question-box">
          <h4 class="style-name">
          <a href="{% url 'resource'  %}" >
            العصري</a></h4>
          <div class="answer">
            شتهر نمط التصميم العصري باحتوائه على الألوان البسيطة والحيادية فغالباً ما يتم استخدام الأبيض والرمادي الفاتح للجدران بينما تتداخل الألوان الزاهية في باقي عناصر التصميم كاللون التّفاحي والفضي والوردي واللازوردي الفاتح
          </div>
      </div>
  </div>
</div>
<div class="col-lg-3 text-end">
  <div class="card-body">
      <div class="question-box">
          <h4 class="style-name">
            <a href="{% url 'resource'  %}" >
              الكلاسيكي</a>
          </h4>
          <div class="answer">
            يدور حول الأناقة والرقي الخالد. إنه أسلوب تقليدي تم استخدامه لعدة قرون، ولا يزال يتمتع بشعبية حتى اليوم. تتميز التصميمات الداخلية ذات الطراز الكلاسيكي بقطع أثاث بخطوط أنيقة ومواد كلاسيكية مثل الخشب والرخام والنسيج
          </div>
      </div>
  </div>
</div>
<div class="col-lg-3 text-end">
  <div class="card-body">
      <div class="question-box">
          <h4 class="style-name">
            <a href="{% url 'resource'  %}" >
              النجدي</a>
          </h4>
          <div class="answer">
            الفناء الداخلي في الطراز النجدي يعطي سكان المنزل درجة عالية من الخصوصية. المنازل المصممة بهذا الطراز تكون باردة نسبيا لأن المواد المستخدمة في بناءها تمثل عازل طبيعي للحرارة
          </div>
      </div>
  </div>
</div>
<div class="col-lg-3 text-end">
  <div class="card-body">
      <div class="question-box">
          <h4 class="style-name">
            <a href="{% url 'resource'  %}" >
              البوهيمي</a>
          </h4>
          <div class="answer">
            التصميم الاسكندنافي هو تصميم بسيط يجمع بين الوظيفة والجمال، يتميز بقطع الأثاث البسيطة والعملية في نفس الوقت، ويستخدم الاثاث لتكملة المساحات الخالية من الفوضى والمليئة بالضوء الطبيعي
          </div>
      </div>
    </div>
  </section>

<!--ابحث عن محترف-->
<section id="find-professional" class="page-section">
  <div class="container">
    <h2 class="section-heading text-end">ابحث عن محترف
      <a href="{% url 'findPro' %}" class="more-link">
        للمزيد 
    </a>
    </h2>
    <div class="row">
     
      <div class="col-lg-3 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title"><a href="{% url 'findPro'  %}" >
              مصممين داخليين</a></h4>
              <img src="{% static 'images/interior.jpg' %}" alt="Engineer Image" class="category-image">
            </a>
          </div>
        </div>
      </div>
     
      <div class="col-lg-3 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title"><a href="{% url 'findPro'  %}" >
              مقاوليين</a></h4>
              <img src="{% static 'images/contractor.jpg' %}" alt="Engineer Image" class="category-image">
            </a>
          </div>
        </div>
      </div>

      
      <div class="col-lg-3 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title"><a href="{% url 'findPro'  %}" >
              شركات تنسيق حدائق</a></h4>
              <img src="{% static 'images/garden.jpg' %}" alt="Engineer Image" class="category-image">
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title"><a href="{% url 'findPro'  %}" >
              مهندسين</a></h4>
              <img src="{% static 'images/eng.jpg' %}" alt="Engineer Image" class="category-image">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- الاسئلة الشائعة -->
<section class="page-section" id="faq">
  <div class="container">
      <div class="text-end">
          <h2 class="section-heading text-center">الأسئلة الشائعة</h2>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="faq-item">
                  <div class="question-box text-end">
                      <h4 class="question">كيف تطلب خدمة من محترف ؟</h4>
                      <div class="answer">
                        <ul>سجل دخولك </ul>
                        <ul> ابحث عن محترف</ul>
                        <ul>تواصل معه برسالة </ul>
                        <ul> شارك معه التفاصيل </ul>
                        <ul> سيتم التواصل معك </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="faq-item">
                  <div class="question-box text-end">
                      <h4 class="question">ماهو لهج ؟</h4>
                      <div class="answer">نسعى لبناء جسر إلكتروني يربط الأفراد بالخبراء لتحقيق تجربة مثيرة ومميزة من خلال  بيئة مبتكرة تجمع بين أصحاب المنازل والمحترفين في مجال ترميم وتصميم المنازل. 
                        من خلال منصتنا يمكن لأصحاب المنازل استعراض أعمال المحترفين ،طرح الاستفسارات والتواصل ،وطلب الخدمات بكل سهولة .بينما يمكن المحترفين طرح مشاريعهعم ،والرد والتواصل مع العملاء ،والتسويق لأعمالهم</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="faq-item">
                  <div class="question-box text-end">
                      <h4 class="question">كيف اقيم المحترف ؟ </h4>
                      <div class="answer">إجابة ... </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="faq-item">
                  <div class="question-box text-end">
                      <h4 class="question">كيف اتواصل مع المحترف ؟</h4>
                      <div class="answer">إجابة ... </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- تواصل-->
<section class="page-section" id="contact">
  <div class="container-fluid">
      <div class="text-center">
          <h2 class="section-heading">اتصل بنا</h2>
      </div>
      <form id="contactForm" data-sb-form-api-token="API_TOKEN" data-sb-form>
          <div class="row align-items-stretch mb-5">
              <div class="col-md-6">
                  <div class="form-group">
                      <!-- Name input-->
                      <input class="form-control text-end" id="name" type="text" placeholder="*الاسم" data-sb-validations="required" />
                      <div class="invalid-feedback" data-sb-feedback="name:required">الاسم مطلوب</div>
                  </div>
                  <div class="form-group">
                      <!-- Email address input-->
                      <input class="form-control text-end" id="email" type="email" placeholder="*الايميل" data-sb-validations="required,email" />
                      <div class="invalid-feedback" data-sb-feedback="email:required">ايميل مطلوب</div>
                      <div class="invalid-feedback" data-sb-feedback="email:email">الايمسل غير صحيح</div>
                  </div>
                  <div class="form-group mb-md-0">
                      <!-- Phone number input-->
                      <input class="form-control text-end" id="phone" type="tel" placeholder="*الجوال" data-sb-validations="required" />
                      <div class="invalid-feedback" data-sb-feedback="phone:required">رقم الجوال مطلوب</div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group form-group-textarea mb-md-0">
                      <!-- Message input-->
                      <textarea class="form-control text-end" id="message" placeholder="*رسالتك" data-sb-validations="required"></textarea>
                      <div class="invalid-feedback" data-sb-feedback="message:required">رسالة مطلوبة </div>
                  </div>
              </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">أرسل رسالة</button>
        </div>
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center text-white mb-3">
                <div class="fw-bolder">تم إرسال النموذج بنجاح!</div>
                لتفعيل هذا النموذج قم بالتسجيل في
                <br />
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div>
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">خطأ في إرسال الرسالة!</div>
        </div>
    </form>
</div>
</section>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
//  Bootstrap form validation
(function () {
    'use strict';

    var forms = document.querySelectorAll('[data-sb-form]');

    Array.from(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                setTimeout(function () {
                    document.getElementById('submitSuccessMessage').classList.remove('d-none');
                }, 1000);
            }

            form.classList.add('was-validated');
        }, false);
    });
})();
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var faqItems = document.querySelectorAll('.faq-item');

      faqItems.forEach(function (item) {
          item.addEventListener('click', function () {
              this.classList.toggle('active');
          });
      });
  });
</script>
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var styleBoxes = document.querySelectorAll('.style-box');

    styleBoxes.forEach(function (box) {
      var styleName = box.querySelector('.style-name');
      var answerBox = box.querySelector('.answer');

      styleName.addEventListener('mouseover', function () {
        var answer = styleName.getAttribute('data-answer');
        answerBox.textContent = answer;
      });

      styleName.addEventListener('mouseout', function () {
        answerBox.textContent = '';
      });
    });
  });
</script>


</body>
   
{% endblock %}
