{% extends 'base.html' %}
{% load static %}

{% block title %}الالهام{% endblock %}

{% block content %}
<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 1rem;
    }
    .btn {
        background-color: #1CAED0;
        color: white;
        border: none;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #5ccfe7;
        color: white;
    }
</style>

<div class="container mt-5">
    <h3 class="display-4 mb-4 text-end">استلهم</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4" id="inspiration-container">
        {% for work in previous_works %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'project_details' project_id=work.id %}">
                    {% if work.images.all %}
                    <img src="{{ work.images.first.image.url }}" class="card-img-top" alt="{{ work.project_name }}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <p class="text-end">بواسطة : <a href="{% url 'professional_profile' professional_id=work.professional.id %}">
                            {{work.professional.user.username }}</a></p>
                    {% if not request.user.is_authenticated %}
                    <button class="btn btn-primary" onclick="alert('يجب أن تسجل أولا')">حفظ للمفضلة</button>
                    {% else %}
                    <button class="btn btn-primary" onclick="saveToWishlist('{{ work.id }}')">حفظ للمفضلة</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% endif %}
        {% endfor %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // JavaScript for dynamically removing deleted image cards
    function removeDeletedImageCard(imageId) {
        const cardToRemove = document.getElementById(`work-${imageId}`);
        if (cardToRemove) {
            cardToRemove.remove();
        }
    }
    function saveToWishlist(previousWorkId) {
        // Send an asynchronous request to the server
        fetch("{% url 'save_to_wishlist' previous_work_id=0 %}".replace("0", previousWorkId), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response data
                if (data.success) {
                    // Show a success message
                    alert("تمت إضافة العنصر إلى قائمة الأمنيات بنجاح");
                } else {
                    // Show an error message
                    alert("العنصر موجود بالفعل في قائمة الأمنيات");
                }
            })
            .catch(error => {
                // Handle any errors
                console.error('Error:', error);
            });
    }
</script>
{% endblock %}
