{% extends 'base.html' %}

{% block lang %}ar{% endblock %}

{% block title %}سياسة الخصوصية{% endblock %}

{% block content %}
<style>
    h1 {
        font-size: 2rem; 
        color: #495057;
        font-weight: bold;
    }

    h2 {
        font-size: 1.25rem; 
        color: #495057;
        font-weight: bold;
    }

    p {
        font-size: 1rem; 
        color: #495057;
    }
</style>

<div class="container text-end">
    <h1 class="mt-5">سياسة الخصوصية</h1>

    <section>
        <p>نحن في لهج نولي أهمية كبيرة لحقوق خصوصيتك ونتعهد بحمايتها. يرجى قراءة سياسة الخصوصية هذه بعناية لفهم كيفية جمع واستخدام وحماية المعلومات التي تقدمها لنا</p>

        <h2>المعلومات التي نقوم بجمعها</h2>
        <p>عندما تستخدم موقعنا، قد نقوم بجمع بعض المعلومات الشخصية التي تقدمها بشكل طوعي، مثل اسمك وعنوان بريدك الإلكتروني. نحن نستخدم هذه المعلومات لغرض تحسين خدماتنا وتخصيص تجربتك</p>

        <h2>كيف نستخدم المعلومات</h2>
        <p>نحن نستخدم المعلومات التي نجمعها لتحسين خدماتنا، وإرسال محتوى مخصص، والتواصل معك بشكل فعال. لن نشارك معلوماتك مع أطراف ثالثة دون موافقتك</p>

        <h2>حقوق الخصوصية</h2>
        <p>لديك الحق في طلب نسخة من المعلومات التي نملكها عنك، وتصحيح أي معلومات غير صحيحة. كما لديك حق الانسحاب من تلقي رسائل التسويق في أي وقت</p>

        <h2>تحديثات على سياسة الخصوصية</h2>
        <p>نحتفظ بحق تحديث سياسة الخصوصية هذه بشكل دوري، وسيتم نشر أي تغييرات على هذه الصفحة. يُنصح بمراجعة سياسة الخصوصية بشكل دوري للبقاء على اطلاع</p>
    </section>
</div>
{% endblock %}
