{% extends 'base.html' %}
{% load static %}
{% block title %}ريفي  {% endblock %}

{% block content %}
<br>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دليل الأثاث</title>

<style>


p{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;
}


</style>
</head>
<body>
    <h1 id="text"  style="text-align: center;">ريفي</h1>
    <br>
    <br>

    <p>الأثاث الريفي هو نوع من الأثاث يتميز بالطابع التقليدي والبساطة، مصنوع عادةً من الخشب الطبيعي ويعكس جواً دافئاً ومريحاً مستوحى من الحياة الريفية القديمة.</p>
</body>


{% endblock %}