{% extends 'base.html' %}
{% load static %}
{% block title %}ريفي  {% endblock %}

{% block content %}
<br>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ريفي</title>

<style>


h4{
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: right;
top: 100px;
color: #495057;
}
#n1{
width: 210px;
height: 1400px;
background: url(@nurdizaynnn.jpg);
border-radius: 5px;
}
 
img{

    /* Rectangle 4458 */
width: 212px;
height: 1194px;

background: url(@nurdizaynnn.jpg);
border-radius: 5px;

}




</style>
</head>
<body>
    <h1 id="text"  style="text-align: center; color: #495057;">ريفي</h1>
    <br>
    <div >
        <h4>الأثاث الريفي هو نوع من الأثاث يتميز بالطابع التقليدي والبساطة </h4>
    
       <h4>مصنوع عادةً من الخشب الطبيعي ويعكس جوًا دافئاً ومريحاً مستوحى من الحياة الريفية القديم</h4>
    </div>
    
    <br>

    <div id="place" style="text-align: right;">
        <h4 >اين اجدها؟</h3>
        <h5>بوتيك ريفي</h5>
        <h5>أبيات</h5>
        <h5>اشلي</h5>
    </div>

    <img  id="rustic4" src="{% static 'images\Rustic.jpeg' %}" alt="Lahj Logo">
    

    <br>
    <br>
    
</body>


{% endblock %}