{% extends 'base.html' %}
{% load static %}
{% block title %}المصادر{% endblock %}

{% block content %}
    <body>
          <br>
          
        <h2 id="tit1" style="color:#495057" >تزود بمصادر ونصائح لهج</h2>
     <div class="num1">
        <a href="{% url 'reso1' %}" style="color:#495057"><h3 >دليل الاثاث </h3></a>
        <p>الاختلافات بين أنواع الأثاث وتصاميمها، لاستخدام الفراغات بشكل أمثل</p>
        <img src="{% static 'images\p1.jpeg' %}" alt="Lahj Logo" height="170" width="400">
       
        <br>
        <br>
        <br>

        <a href="{% url 'tips' %}" style="color:#495057"><h3>ارشادات ونصائح لتصميم منزلك</h3></a>
        <p>ارشادات ونصائح حول تصميم وتأثيث منزلك بدء من الأساس</p>
        <img src="{% static 'images\p2.jpeg' %}" alt="Lahj Logo" height="170" width="400">

        <br>
        <br>
        <br>
        
        <a href="{% url 'cost' %}" style="color:#495057" ><h3>حساب التكلفة</h3></a>  
        <p>تقدير أو توقع للتكاليف المرتبطة بشراء الأثاث الضروري لتجهيز المنزل أو المكتب</p>
        <img src="{% static 'images\p3.jpeg' %}" alt="Lahj Logo" height="170" width="400">

     </div>
    </body>
{% endblock %}
