
{% extends 'base.html' %}

{% block lang %}ar{% endblock %}

{% block title %}سياسة الخصوصية{% endblock %}

{% block content %}

<style>
    h1 {
        font-size: 2rem; 
        color: #495057;
        font-weight: bold;
    }

    h2 {
        font-size: 1.25rem; 
        color: #495057;
        font-weight: bold;
    }

    p {
        font-size: 1rem; 
        color: #495057;
    }
</style>

<div class="container text-end">
    <h1 class="mt-5">شروط الاستخدام</h1>
    <section>
        <p>مرحبًا بك في شروط الاستخدام لدينا. يرجى قراءة هذه الشروط بعناية قبل استخدام موقعنا، حيث يُفترض أن تكون قد قبلت هذه الشروط عند استخدامك للموقع</p>

        <h2>القبول-</h2>
        <p>باستخدام هذا الموقع، فإنك توافق على الالتزام بشروط الاستخدام هذه. إذا لم تكن توافق على هذه الشروط، يُفضل عليك عدم استخدام الموقع</p>

        <h2> الاستخدام المسموح به-</h2>
        <p>يُسمح لك باستخدام الموقع ومحتوياته لأغراض شخصية فقط. يُمنع استخدام الموقع لأي غرض غير قانوني أو يتعارض مع شروط الاستخدام</p>

   

    </section> 
</div>
{% endblock %}

