{% extends 'base.html' %}
{% load static %}

{% block title %} الصور المفضلة{% endblock %}

{% block content %}
<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
    }

    .card-img-top {
        height: 200px; /* Set a fixed height for the images */
        object-fit: cover; /* Maintain aspect ratio */
    }

    .card-body {
        padding: 1rem;
    }
</style>
<div class="container mt-5 text-end">
    <h1>الصور المفضلة</h1>
    {% if saved_photos %}
        <div class="row">
            {% for photo in saved_photos %}
                {% if forloop.counter0|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ photo.image.url }}" class="card-img-top" alt="Saved Photo">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p> لا توجد صور محفوظة حتى الآن ، يمكنك اضافة الصور من صفحة الإلهام</p>
    {% endif %}
</div>

{% endblock %}
